.navbar{
    text-align: center;
    background-color: rgba(248, 248, 248, 0.99);
    .container{
        background-color: rgba(248, 248, 248, 0);
        padding: 0.7rem;
        border-radius: 0.3rem;
    }
}